@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Varela&display=swap');

body {
	font-family: 'Varela', sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--black);
}
:root {
	--black: #01010c;
	--white: #fafafa;
}

/* NAVBAR */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 10vh;
}
.rightSide {
	display: flex;
	width: 45%;
	justify-content: space-evenly;
	align-items: center;
}
.rightSide a {
	color: var(--white);
	font-family: 'Kalam', sans-serif;
	font-size: 1.2rem;
	cursor: pointer;
	text-decoration: none;
}

/* HOME PAGE */
.homePage {
	padding: 0rem 2rem;
}

/* HERO SECTION  */
.mainPage {
	display: flex;
	height: 90vh;
}
.mainImg {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mainImg img {
	width: 100%;
}
.mainText {
	color: #f5f5f5;
	height: 60%;
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 50%;
}
.innerDiv {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
}
.innerDiv p {
	font-size: 1rem;
}
.innerDiv h1 {
	margin: 0;
	font-family: 'Kalam', sans-serif;
}
.mainText > p {
	width: 70%;
}
.mainText h1 {
	font-size: 2rem;
}
.mainText a {
	color: var(--white);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	outline: none;
	border: 2px solid var(--white);
	font-weight: 700;
	font-size: 1.2rem;
	cursor: pointer;
	font-family: 'Kalam', sans-serif;
	transition: 0.25s ease-in-out;
	text-decoration: none;
}
